# Ignore everything, except whitelisted files and folders.

###############################
# Add two rules for each folder you want to include:
# 1. !folder-name/    <-- includes the folder and top level files
# 2. !folder-name/**  <-- includes the folder and sub level files recursively
###############################

/**
!.gitignore
!backup-apigee-orgs.sh
!LICENSE
!README.md
