# Ignore everything, except whitelisted files and folders.
###############################
# Add two rules for each org you want to include:
# 1. !org-name/    <-- includes the folder and top level files
# 2. !org-name/**  <-- includes the folder and sub level files recursively
###############################

/**
!.gitignore
!backup-apigee-orgs.sh
!LICENSE
!README.md

### Start Whitelisting orgs
